body {
  font-family: monospace;
}

ul {
  font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}
body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

/* simple selector matches tag name exactly */
li {
    list-style: square;
}

/* . is class selector */
.list {
    list-style: square;
}

/* # is id selector */
#msg {
    font-family: monospace;
}

.light-theme {
    color: #000000;
    background: #00FF00;
}

.light-theme {
  color: #000000;
  background: #00FF00;
}
.dark-theme {
    color:#ff00bf;
    background:#000000
}